<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
    <h4 class="modal-title">Are you sure to delete your account??</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="isTrue(emp)">Yes</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="close()">NO</button>
  <div class="modal-footer">
    
  </div>
</div>